<div class="container-lg-fluid">
  <div class="row cover-1 text-center mx-auto" style="height: 700px; padding: 80px 0 150px 0;">
    <div class="col-lg mb-5">
      <h1 class="title mx-auto mb-4">食べ物情報共有サイト</h1>
      <h5>お気に入りのお店を投稿しよう！</h5>
    </div>
  </div>
</div>